body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  &--intro {
    text-align: center;
  }
}

.subheading {
  font-family: "Overpass", sans-serif;
  text-align: center;
}
