@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
body {
  --container-cap-width: 1200px;
  --root-font-size: 16px;
  --border-radius: 6px;
  --box-shadow-md: 0 0.5rem 2rem hsla(240, 10%, 16%, 35%);
  --clr-primary-400: hsl(356, 100%, 66%);
  --clr-primary-300: hsl(355, 100%, 74%);
  --clr-secondary-500: hsl(208, 49%, 24%);
  --clr-gradient-200: hsl(13, 100%, 72%);
  --clr-gradient-500: hsl(353, 100%, 62%);
  --clr-dark-gradient-700: hsl(237, 17%, 21%);
  --clr-dark-gradient-600: hsl(237, 23%, 32%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-150: hsl(0, 0%, 90%);
  --clr-neutral-200: hsl(240, 2%, 79%);
  --clr-neutral-600: hsl(207, 13%, 34%);
  --clr-neutral-800: hsl(240, 10%, 16%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--root-font-size);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.heading {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}
.heading--intro {
  text-align: center;
}
.heading--dark {
  color: var(--clr-secondary-500);
}

.subheading {
  font-family: "Overpass", sans-serif;
  text-align: center;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  width: 100%;
  max-width: var(--container-cap-width);
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.85em 1.5em;
  border-radius: 999px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.btn--secondary {
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-100);
}
.btn--primary {
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-100);
}
.btn--gradient {
  color: var(--clr-neutral-100);
  background-image: linear-gradient(to right, var(--clr-gradient-200), var(--clr-gradient-500));
  padding: 0.85em 2em;
}

.intro {
  min-height: 85vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 100px;
  color: var(--clr-neutral-100);
  background-image: linear-gradient(to bottom, var(--clr-gradient-200), var(--clr-gradient-500));
}
.intro .heading {
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.3;
}
.intro .subheading {
  margin-bottom: 3rem;
  line-height: 1.4;
}
.intro .heading,
.intro .subheading {
  max-width: 85%;
}
.intro .buttons-wrapper * + * {
  margin-left: 1rem;
}
.intro .watermark {
  position: absolute;
  width: 350%;
  left: -20rem;
  top: -17rem;
  height: auto;
  z-index: -1;
}

.navbar {
  position: absolute;
  z-index: 10;
  display: flex;
  top: 3.5rem;
  align-items: center;
  justify-content: space-between;
}
.navbar .hamburger {
  cursor: pointer;
}
.navbar .menu {
  position: absolute;
  border-radius: var(--border-radius);
  top: calc(100% + 2rem);
  left: 1.5rem;
  padding: 2rem;
  width: calc(100% - 3rem);
  background-color: var(--clr-neutral-100);
  box-shadow: var(--box-shadow-md);
}
.navbar .menu--closed {
  display: none;
}
.navbar .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar .menu .dropdown {
  display: none;
  margin-top: 1.5rem;
  padding: 1.5rem;
  font-size: 1.25rem;
  border-radius: var(--border-radius);
  color: var(--clr-neutral-600);
  background-color: var(--clr-neutral-150);
}
.navbar .menu .dropdown__link {
  padding: 1rem;
  color: var(--clr-secondary-500);
}
.navbar .menu .dropdown--open {
  display: block;
}
.navbar .menu__text {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .menu__text img {
  margin-left: 0.5rem;
  width: 0.7em;
  height: 0.7em;
  object-fit: contain;
}
.navbar .menu__link {
  text-align: center;
  font-size: 1.375rem;
  padding: 1rem 0;
  color: var(--clr-secondary-500);
  font-weight: 500;
}
.navbar .menu__link--open .menu__text {
  opacity: 0.75;
}
.navbar .menu__link--open .menu__text img {
  transform: rotate(-180deg);
}
.navbar .menu__link:last-of-type {
  margin-bottom: 1rem;
}
.navbar .menu__buttons {
  padding-top: 1rem;
  border-top: 1px solid var(--clr-neutral-200);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar .menu__buttons * + * {
  margin-top: 1rem;
}

.features {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.features .heading {
  margin: 2rem 0;
  letter-spacing: 0.5px;
}
.features .heading:not(:first-of-type) {
  margin-bottom: 0;
}
.features .paragraph {
  font-weight: 300;
  font-family: "Overpass";
  letter-spacing: 0.5px;
  color: var(--clr-neutral-600);
}

.infrastructure {
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
