.navbar {
  position: absolute;
  z-index: 10;
  display: flex;
  top: 3.5rem;
  align-items: center;
  justify-content: space-between;
  .hamburger {
    cursor: pointer;
  }
  .menu {
    position: absolute;
    border-radius: var(--border-radius);
    top: calc(100% + 2rem);
    left: 1.5rem;
    padding: 2rem;
    width: calc(100% - 3rem);
    background-color: var(--clr-neutral-100);
    box-shadow: var(--box-shadow-md);
    &--closed {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .dropdown {
      display: none;
      margin-top: 1.5rem;
      padding: 1.5rem;
      font-size: 1.25rem;
      border-radius: var(--border-radius);
      color: var(--clr-neutral-600);
      background-color: var(--clr-neutral-150);
      &__link {
        padding: 1rem;
        color: var(--clr-secondary-500);
      }
      &--open {
        display: block;
      }
    }
    &__text {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin-left: 0.5rem;
        width: 0.7em;
        height: 0.7em;
        object-fit: contain;
      }
    }
    &__link {
      text-align: center;
      font-size: 1.375rem;
      padding: 1rem 0;
      color: var(--clr-secondary-500);
      font-weight: 500;
      &--open {
        .menu__text {
          opacity: 0.75;
          img {
            transform: rotate(-180deg);
          }
        }
      }
      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
    &__buttons {
      padding-top: 1rem;
      border-top: 1px solid var(--clr-neutral-200);
      display: flex;
      align-items: center;
      flex-direction: column;
      * + * {
        margin-top: 1rem;
      }
    }
  }
}
